<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="funding.dao.face.NoticeDao">
	
	<select id="selectCntNotice" resultType="int">
		select count(*) from notice
	</select>
	
	<select id="noticeAll" resultType="funding.dto.Notice">
	
		select * from (
		     select rownum rnum, N.* from(
		         select * from notice
		          order by notice_no desc
		        )N
		     ) notice
		where rnum between #{startNo} and #{endNo}
	</select>
	
	<select id="selectByNotice" resultType="funding.dto.Notice">

		select notice_no,title,content from notice
		where notice_no = #{noticeNo} 
	</select>
	
	<select id="selectByNoticeFile" resultType="funding.dto.NoticeFile" parameterType="funding.dto.Notice">
		select 
		file_no fileNo
		,notice_no noticeNo
		,file_origin fileOrigin
		,file_storage fileStorage
		 from noticefile
		where notice_no = #{noticeNo}
	</select>
	
</mapper>



