<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="funding.dao.face.PaymentDao">

	<select id="selectReward" resultType="funding.dto.Reward">
		SELECT 
		reward_no
		, project_no
		, reward_price
		, reward_amount
		, reward_name
		, reward_intro
		, reward_state  
		FROM reward
	</select>
	
	<select id="selectByRewardNo" resultType="funding.dto.Reward" parameterType="funding.dto.Reward">
		SELECT 
		reward_no
		, project_no
		, reward_price
		, reward_amount
		, reward_name
		, reward_intro
		, reward_state  
		FROM reward
		WHERE reward_no = #{rewardNo}
	</select>
	
	<insert id="insertOrder" parameterType="funding.dto.Order">
		<selectKey order="BEFORE" keyProperty="orderNo" resultType="int">
			SELECT order_seq.nextval FROM dual
		</selectKey>
		INSERT INTO order_tb
		VALUES (#{orderNo}, 0, sysdate, 0, #{additionalFunding}, #{totalPrice})
	</insert>	
	
	<insert id="insertRewardOrder">
		INSERT INTO reward_order
		VALUES (reward_order_seq.nextval, #{orderNo}, #{rewardNo}, #{rewardCount})
	</insert>
	
	<select id="selectRewardOrderByOrderNo" resultType="funding.dto.Order" parameterType="funding.dto.Order">
		SELECT ro.reward_order_no
		, ro.order_no
		, ro.reward_no
		, ro.reward_count 
		, r.reward_name 
		, r.reward_intro
		FROM reward_order ro, reward r
		WHERE order_no = #{orderNo}
		AND ro.reward_no  = r.reward_no
	</select>

	<insert id="insertPayment" parameterType="funding.dto.Payment">
		INSERT INTO payment 
		VALUES (payment_seq.nextval, #{projectNo}
		, #{orderNo}, #{paymentCode}, #{paymentTotal}
		, #{paymentMethod}, #{paymentDate})
	</insert>

	<insert id="insertDelivery" parameterType="funding.dto.Delivery">
		INSERT INTO delivery
		VALUES (delivery_seq.nextval, #{orderNo}
		, #{postalCode}, #{address}, #{addressDetail}
		, #{addressExtra}, #{recipientName}, #{recipientPhone}
		, #{precautions})
	</insert>
	
	<update id="updateRewardAmount" parameterType="funding.dto.Reward">
		UPDATE reward SET reward_amount = #{rewardAmount} 
		WHERE reward_no = #{rewardNo}
	</update>
	
	<update id="updateOrderStatus" parameterType="int">
		UPDATE order_tb SET order_status = 1 
		WHERE order_no = #{orderNo}
	</update>
	
</mapper>